<div [formGroup]="$any(InjectionConfigForm)">
    <div class="d-flex">
        <div class="p-2 me-auto">
            <ng-container *ngIf="refs$ | async as Refs">
                <mat-form-field subscriptSizing="dynamic">
                    <mat-label>From Source Ref.</mat-label>
                    <mat-select formControlName="SourceRef" (valueChange)="SelectSource($event)">
                        @for (ref of Refs; track $index) {
                            <mat-option [value]="ref.id">{{ref.name}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </ng-container>
        </div>
        <div class="p-2 ">
            <button mat-raised-button color="primary" style="width: 8em; height:4em;" (click)="CreateInjection()">Create</button>
        </div>
    </div>
    <hr>
    @for (MapForm of mappings.controls; track $index) {
        <div class="d-flex border rounded m-2">
            <div class="p-2" >
                <mat-icon (click)="RemoveMapping($index)" class="delete-btn">delete_forever</mat-icon>
            </div>
            <div class="p-2">
                <app-mapping-config-presentational [Ref]="Ref" [sourceId]="this.sourceId" [FormControl]="$any(MapForm)"></app-mapping-config-presentational>
            </div>
        </div>
    }

    <button mat-mini-fab (click)="AddMappingToFormArray()">
        <mat-icon class="add-course-btn">add</mat-icon>
    </button>
</div>