<div [formGroup]="InjectionConfigFormGroup">
  <div class="d-flex" style="gap: 20px">
    <mat-form-field subscriptSizing="dynamic">
      <mat-label>From Source Ref.</mat-label>
      <mat-select formControlName="srcid" (valueChange)="SelectSource($event)">
        @for (srcRef of Refs; track $index) {
          <mat-option [value]="srcRef.id">{{ srcRef.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" style="width: 8em; height:4em; margin-left:auto"
            (click)="CreateInjection()">Create
    </button>
  </div>
  <hr>
  @for (MapFormGroup of InjectionConfigFormGroup.controls.mappings.controls; track $index) {
    <div class="d-flex border rounded m-2" style="gap: 20px">
      <mat-icon (click)="RemoveMapping($index)" class="delete-btn">delete_forever</mat-icon>
      <app-mapping-config-presentational [destRef]="Ref" [srcRef]="sourceRef"
                                         [MappingConfigFormGroup]="MapFormGroup"></app-mapping-config-presentational>
    </div>
  }

  <button mat-mini-fab (click)="AddMappingFormGroupToFormArray('', '')">
    <mat-icon class="add-course-btn">add</mat-icon>
  </button>
</div>
