<div class="col">
    <table mat-table [dataSource]="ref.lines"> <!-- [dataSource]="" Define a material table's column headers (not visible) -->
        @for (colId of ref.headerIds; track $index) {
            <ng-container [matColumnDef]="colId">
                <th mat-header-cell *matHeaderCellDef> {{ref.getColumnById(colId)}}
                    <button mat-mini-fab color="primary" (click)="viewService.removeDispCol(ParentConfig.RefUid, ParentConfig.ViewId, colId)">
                        <mat-icon>remove</mat-icon>
                    </button>
                </th> <!-- Define the header string -->
                <td mat-cell *matCellDef="let line"> {{ line[colId] }} </td>
                <!-- Define the data to display for each line -->
            </ng-container>
        }

        <!-- Tell material angular to render these previously defined columns  -->
        <tr mat-header-row *matHeaderRowDef="viewService.getDispCol(ParentConfig.RefUid, ParentConfig.ViewId)"></tr>

        <!-- 
            Tell material angular to actually render the rows, let myRowData is a property 
            of material table, which represents any row in the data source, which we
            render the columnsToDisplay of, the latter being a property of the component.
            (click) allows navigating to detail view with the row uid  
        -->
        @if (!simpleView) {
        <tr mat-row (click)="viewRecord(myRowData.uid)" *matRowDef="let myRowData; columns: viewService.getDispCol(ParentConfig.RefUid, ParentConfig.ViewId)"></tr>
        }

        @if (simpleView) {
        <tr mat-row *matRowDef="let myRowData; columns: viewService.getDispCol(ParentConfig.RefUid, ParentConfig.ViewId)"></tr>
        }
    </table>
</div>