<div class="col">
    <div style="max-width:100%;">
        <table mat-table [dataSource]="Ref.lines"> <!-- [dataSource]="" Define a material table's column headers (not visible) -->
            @for (colId of Ref.headerIds; track $index) {
                <ng-container [matColumnDef]="colId">
                    <th mat-header-cell *matHeaderCellDef> {{Ref.getColumnById(colId)}}
                        @if (!this.simple) {
                        <button mat-mini-fab color="primary" (click)="Ref.currView.removeDispCol(colId)">
                            <mat-icon>remove</mat-icon>
                        </button>
                        }
                    </th> <!-- Define the header string -->
                    <td mat-cell *matCellDef="let line"> {{ line[colId] }} </td>
                    <!-- Define the data to display for each line -->
                </ng-container>
            }

            <!-- Tell material angular to render these previously defined columns  -->
            <tr mat-header-row *matHeaderRowDef="Ref.currView.dispCols"></tr>

            <!-- 
                Tell material angular to actually render the rows, let myRowData is a property 
                of material table, which represents any row in the data source, which we
                render the columnsToDisplay of, the latter being a property of the component.
                (click) allows navigating to detail view with the row uid  
            -->
            @if (!this.simple) {
                <tr mat-row (click)="viewRecord(myRowData.uid)" *matRowDef="let myRowData; columns: Ref.currView.dispCols"></tr>
            }

            @if (this.simple) {
                <tr mat-row *matRowDef="let myRowData; columns: Ref.currView.dispCols"></tr>
            }
        </table>
    </div>
</div>