<ng-container *ngIf="{
    InjMode: injectionMode$ | async,
    CurrRef: currRef$ | async,
    currView: currView$ | async
} as RefViewState">
    @if (!RefViewState.InjMode) {
    <mat-grid-list cols="3" rowHeight="19em">
        <mat-grid-tile colspan="2">
            <app-view-editor [Ref]="RefViewState.CurrRef!" [isInjectionMode]="RefViewState.InjMode!"></app-view-editor>
        </mat-grid-tile>
            <mat-grid-tile colspan="1"> <!-- New Record, Import, Injection... Buttons -->
                <div class="d-flex align-items-end flex-column">
                    <div class="p-2">
                        <button mat-raised-button color="primary" style="width: 14em;" (click)="consultationToEditView(RefViewState.CurrRef!.id)">
                            Configurer
                        </button>
                    </div>
                    <div class="p-2">
                        <button mat-raised-button color="primary" style="width: 14em;">New Record</button>
                    </div>
                    <div class="p-2">
                        <button mat-raised-button color="primary" style="width: 14em;">Export</button>
                    </div>
                    <div class="p-2">
                        <button mat-raised-button color="primary" style="width: 14em; margin-left: auto;">ImportFile</button>
                    </div>
                </div>
            </mat-grid-tile>  
    </mat-grid-list>
    }
    @if(RefViewState.InjMode) {
        <app-view-editor [Ref]="RefViewState.CurrRef!" [isInjectionMode]="RefViewState.InjMode!"></app-view-editor>
    }
    <hr>
    <app-search [Ref]="RefViewState.CurrRef!" [currView]="RefViewState.currView!"></app-search>
    <app-table [Ref]="RefViewState.CurrRef!" [currView]="RefViewState.currView!" [simpleMode]="RefViewState.InjMode!"></app-table>
</ng-container>
