<ng-container *ngIf="!(isInjectionMode$ | async) as isNotInjMode">     <!-- If it's not injection mode-->
    <ng-container *ngIf="ref$ | async as DestRef; else elseBlock">     <!-- If this block gets rendered, isNotInjMode=true-->
        <mat-grid-list cols="3" rowHeight="19em">
            <mat-grid-tile colspan="2">
                <app-view-editor [Ref]="DestRef!" [isInjectionMode]="false"></app-view-editor>
            </mat-grid-tile>
            <mat-grid-tile colspan="1"> <!-- New Record, Import, Injection... Buttons -->
                <div class="d-flex align-items-end flex-column">
                    <div class="p-2">
                        <button mat-raised-button color="primary" style="width: 14em;" (click)="consultationToEditView(DestRef.uid)" >Configurer</button>
                    </div>
                    <div class="p-2">
                        <button mat-raised-button color="primary" style="width: 14em;">New Record</button>
                    </div>
                    <div class="p-2">
                        <button mat-raised-button color="primary" style="width: 14em;">Export</button>
                    </div>
                    <div class="p-2">
                        <button mat-raised-button color="primary" style="width: 14em; margin-left: auto;">ImportFile</button>
                    </div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
        <hr>
        <app-search [Ref]="DestRef!"></app-search>
        <app-table [Ref]="DestRef!"></app-table>
    </ng-container>
</ng-container>
<ng-container *ngIf="(isInjectionMode$ | async) as isInjMode">              <!-- If it is injection mode -->
    <ng-container *ngIf="srcRef$ | async as srcRef; else elseBlock">        <!-- If this block gets rendered, isInjMode=true-->
        <app-view-editor [Ref]="srcRef!" [isInjectionMode]="true"></app-view-editor>
        <hr>
        <app-search [Ref]="srcRef!"></app-search>
        <app-table [Ref]="srcRef!"></app-table>
    </ng-container>
</ng-container>

<ng-template #elseBlock>
    <p>Loading...</p>
</ng-template>
