<h1>Importer vers : {{ Ref.name }} ({{Ref.code}})</h1>

<div class="d-flex" style="gap:20px">
  <input (change)="upload($event)" type='file' class="form-control">
</div>
<hr>

<div class="jumbotron bg-dark text-white" style="background-color:#ffffff !important;">
  <ul>
    <li>
      <mat-checkbox (change)="CheckUpdateExisingEntriesBasedOnBk($event.checked)" [checked]="this.UpdateExisingEntriesBasedOnBk">
        Mettre à jour les enregistrements sur la base des BK
      </mat-checkbox>
    </li>
    @if(!UpdateExisingEntriesBasedOnBk) {
      <li>
        <mat-checkbox (change)="CheckDropEntriesWithDuplicateBKs($event.checked)">
          Abandonner les données entrante lors de BK à double
        </mat-checkbox>
      </li>
    }
    <li>
      <mat-checkbox (change)="CheckDropEntriesWithInvalidDateFormats($event.checked)">
        Abandonner les données entrante lors de format de date invalide
      </mat-checkbox>
    </li>
    <li>
      <mat-checkbox (change)="CheckDropEntriesWithMissingRequiredColumns($event.checked)">
        Abandonner les donées entrante de colonnes requises manquantes
      </mat-checkbox>
    </li>
    <li>
      <mat-checkbox (change)="CheckDropEntriesWithInvalidFks($event.checked)">
        Abandonner les données entrante lors de FK non valides
      </mat-checkbox>
    </li>
  </ul>
</div>

<hr>
@if (!isEmpty(EntryErrorMap)) {
  <mat-grid-list cols="2" style="width: 100%;" rowHeight="6em" class="grid-layout-custom">
    <mat-grid-tile colspan="1" [rowspan]="Ref!.columns.length*1.25">
      <div [formGroup]="IncomingEntryForm" *ngIf="IncomingEntryForm">
        <h1>Donnée Entrante</h1>
        <ng-container formArrayName="keypairs">
          @for (keyPairFormGroup of IncomingEntryForm.controls.keypairs.controls; track $index) {
            <app-key-value-presentational
              [KeyPairError]="EntryErrorMap[keyPairFormGroup.controls.colId.getRawValue()]"
              [KeyPairFormGroup]="keyPairFormGroup"
              [readOnly]="false">
            </app-key-value-presentational>
          }
        </ng-container>
        <button mat-raised-button color="primary" (click)="emitChoice('takeIncoming')">
          Insérer la mise à jour
        </button>
      </div>
    </mat-grid-tile>
    @if (this.errType == EntryPutErrorTypeEnum.DuplicateBk) {
      <mat-grid-tile colspan="1" [rowspan]="Ref.columns.length * 1.25">
        <div [formGroup]="DestinationEntryForm" *ngIf="DestinationEntryForm">
          <h1>Donnée Présente</h1>
          <ng-container formArrayName="keypairs">
            @for (keyPairFormGroup of DestinationEntryForm.controls.keypairs.controls; track $index) {
              <app-key-value-presentational
                [KeyPairFormGroup]="keyPairFormGroup"
                [readOnly]="true">
              </app-key-value-presentational>
            }
          </ng-container>
          <button mat-raised-button color="primary" (click)="emitChoice('whatever')">Garder
            l'Enregistrement
          </button>
        </div>
      </mat-grid-tile>
    }
  </mat-grid-list>
}
@if (done) {
  <h2>Compte Rendu de l'Import :</h2>
  <ul>
    <li> Nombre de mises à jour :{{ this.n_updated }}</li>
    <li> Nombre d'insertions : {{ this.n_inserted }} </li>
    <li> Nombre de rejets : {{ this.n_discarded }} </li>
  </ul>
  <h3>Détail des Rejets</h3>
  <ul>
    <li> Par valeur requise manquante : {{ this.n_discarded_missing_req_value }} </li>
    <li> Par format de date invalide : {{ this.n_discarded_invalid_dateformat }} </li>
    <li> Par FK invalide : {{ this.n_discarded_invalid_fk_value }} </li>
    <li> Par BK dupliquée : {{ this.n_discarded_duplicate_bk }} </li>
  </ul>
}
