<h1>Import into {{ Ref.name }}</h1>

<div class="d-flex" style="gap:20px">
  <input (change)="upload($event)" type='file' class="form-control">
</div>
<hr>
@if (!isEmpty(EntryErrorMap)) {
  <mat-grid-list cols="2" style="width: 100%;" rowHeight="6em" class="grid-layout-custom">
    <mat-grid-tile colspan="1" [rowspan]="Ref!.columns.length*1.05">
      <div [formGroup]="IncomingEntryForm">
        <h1>Donnée Entrante</h1>
        <ng-container formArrayName="keypairs">
          @for (keyPairFormGroup of IncomingEntryForm.controls.keypairs.controls; track $index) {
            <app-key-value-presentational
              [KeyPairError]="EntryErrorMap[keyPairFormGroup.controls.colId.getRawValue()]"
              [KeyPairFormGroup]="keyPairFormGroup"
              [readOnly]="false">
            </app-key-value-presentational>
          }
        </ng-container>
        <button mat-raised-button color="primary" (click)="emitChoice('takeIncoming')">
          Mettre à jour
        </button>
      </div>
    </mat-grid-tile>
    @if (this.errType == EntryPutErrorTypeEnum.DuplicateBk) {
      <mat-grid-tile colspan="1" [rowspan]="Ref.columns.length * 1.05">
        <div [formGroup]="DestinationEntryForm">
          <h1>Donnée Présente</h1>
          <ng-container formArrayName="keypairs">
            @for (keyPairFormGroup of DestinationEntryForm.controls.keypairs.controls; track $index) {
              <app-key-value-presentational
                [KeyPairError]="EntryErrorMap[keyPairFormGroup.controls.colId.getRawValue()]"
                [KeyPairFormGroup]="keyPairFormGroup"
                [readOnly]="true">
              </app-key-value-presentational>
            }
          </ng-container>
          <button mat-raised-button color="primary" (click)="emitChoice('whatever')">Garder
            l'Enregistrement
          </button>
        </div>
        <mat-checkbox (change)="ApplyUpdateByBkTAllDuplicates($event.checked)">Appliquer à Tous
        </mat-checkbox>
      </mat-grid-tile>
    }
  </mat-grid-list>
}
@if (done) {
  <h2>Done importing all entries.</h2>
}
