<div [formGroup]="MappingConfigFormGroup">
  <div class="d-flex" style="gap: 20px">
    <mat-form-field subscriptSizing="dynamic">
      <mat-label>Colonne Source</mat-label>
      <mat-select formControlName="srcColId">
        @for (colfig of srcRef.columns; track $index) {
          <mat-option [value]="colfig.id">{{ colfig.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field subscriptSizing="dynamic">
      <mat-label>Colonne Destination</mat-label>
      <!-- We can only have unique destColId values in an injection, so once an id is selected,
      it must be removed from the list of available destColIds.  -->
      <mat-select formControlName="destColId">
        @for (colfig of destRef.columns; track $index) {
          @if (colfig.name != "") {
            @if (!destColInInjectionFormGroupConfig(colfig.id) || destColIdBelongsToThisKeyPair(
              colfig.id)) {
              <mat-option [value]="colfig.id">{{ colfig.name }}</mat-option>
            }
          }
        }
      </mat-select>
    </mat-form-field>
  </div>
</div>
