<div [formGroup]="$any(FormControl)">
    <div class="d-flex flex-row">
        <div class="p-1">
            <mat-form-field subscriptSizing="dynamic">
                <mat-label>File Col.</mat-label>
                <input matInput formControlName="FileCol">
            </mat-form-field>
        </div>
        <div class="p-1">
            <mat-form-field subscriptSizing="dynamic">
                <mat-label>Ref Col.</mat-label>
                <input matInput formControlName="RefCol">
            </mat-form-field>
        </div>
        <div class="p-1">
            <mat-form-field subscriptSizing="dynamic">
                <mat-label>Date Format</mat-label>
                <input matInput formControlName="DateFormat">
            </mat-form-field> 
        </div>
        <div class="p-1">
            <mat-form-field style="width: 8em;" subscriptSizing="dynamic">
                <mat-label>Key Type</mat-label>
                <mat-select formControlName="KeyType">
                    <mat-option value="None">None</mat-option>
                    <mat-option value="FK">FK</mat-option>
                    <mat-option value="BK">BK</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="p-1">
            <mat-form-field style="width: 8em;" subscriptSizing="dynamic">
                <mat-label>Required</mat-label>
                <mat-select formControlName="Required">
                    <mat-option value="true">Yes</mat-option>
                    <mat-option value="false">No</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="d-flex flex-row">    
        @if (FormControl.get("KeyType")!.value=='FK') {
            <div class="p-1">
                <mat-form-field style="width: 16em;" subscriptSizing="dynamic">
                    <mat-label>Pointed Ref.</mat-label>
                    <mat-select formControlName="PointedRef">
                        <mat-option value="REF_OFS_STATUT">REF_OFS_STATUT</mat-option>
                        <mat-option value="REF_OFS_NOGA">REF_OFS_STATUT</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="p-1">
                <mat-form-field style="width: 16em;" subscriptSizing="dynamic">
                    <mat-label>Pointed Col.</mat-label>
                    <mat-select formControlName="PointedCol">
                        <mat-option value="CODE">CODE</mat-option>
                        <mat-option value="PARENT">PARENT</mat-option>
                        <mat-option value="LEVEL">LEVEL</mat-option>
                        <mat-option value="NAME_FR">NAME_FR</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="p-1">
                <mat-form-field style="width: 16em;" subscriptSizing="dynamic">
                    <mat-label>Label Col.</mat-label>
                    <mat-select formControlName="LabelCol">
                        <mat-option value="CODE">CODE</mat-option>
                        <mat-option value="PARENT">PARENT</mat-option>
                        <mat-option value="LEVEL">LEVEL</mat-option>
                        <mat-option value="NAME_FR">NAME_FR</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        }
    </div>
</div>