<div class="add-columns-form" [formGroup]="RefConfigForm">
    <div (click)="uploadFile.click()">
        <button mat-raised-button color="primary">Choose File</button>
        <input #uploadFile (change)="upload($event)" type='file' style="display:none"/> 
    </div>
    <div class="d-flex">
        <div class="p-2">
            <mat-form-field subscriptSizing="dynamic">
                <mat-label>Ref. Name</mat-label>
                <input matInput formControlName="name">
            </mat-form-field>
        </div>
        <div class="p-2">
            <mat-form-field subscriptSizing="dynamic">
                <mat-label>Ref Description.</mat-label>
                <input matInput formControlName="description">
            </mat-form-field>
        </div>
    </div>
    <ng-container formArrayName="columns">
        <ng-container *ngFor="let ColForm of columns.controls; let i = index">
            <div class="d-flex border rounded m-2">
                <div class="p-2">
                    <mat-icon class="delete-btn" (click)="deleteColumn(i)">delete_forever</mat-icon>
                </div>
                <div class="p-2">
                    <!-- render column configuration fields -->
                    <app-col-config [FormControl]="$any(ColForm)"></app-col-config>
                </div>
            </div>
        </ng-container>
    </ng-container>
    <button mat-mini-fab (click)="AddColToFormArray()">
        <mat-icon class="add-course-btn">add</mat-icon>
    </button>
</div>
<button (click)="Debug()">Debug</button>

<!-- If data was uploaded, render it underneath 
@if (newRef.lines.length > 0) {
    <app-table [RefUid]="RefUid"></app-table>
}
-->
