<div class="container">
    <!-- Consultation of a Referential View, columns and lines -->
    <h1>Viewing : {{refId}}</h1>

    <mat-grid-list cols="3" rowHeight="19em">
        <!-- Render Saved View Selection, config Buttons -->
        <mat-grid-tile colspan="2">
            <!-- Saved View Selection, View Saving Field -->
            <div class="d-flex align-items-start flex-column">
                <div class="mb-auto p-2">
                    <mat-form-field>
                        <mat-label>VIEW_NICOLAS</mat-label>
                        <mat-select>
                            <mat-option>VIEW_VERO</mat-option>
                            <mat-option>VIEW_ARTHUR</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="p-2">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Current View Name</span>
                        <input type="text" class="form-control" placeholder="VUE_NICOLAS">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Save</button>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="p-2">
                        <mat-form-field>
                            <mat-label>Add Search Field</mat-label>
                            <mat-select [(value)]="searchAddOpt">
                                @for (column of nSearchCols; track $index) {
                                <mat-option [value]="column">{{column}}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="p-2">
                        <button mat-raised-button color="primary" style="height:4em; width: 6em;" (click)="addSearchField(searchAddOpt)">Add</button>
                    </div>
                    <div class="p-2">
                        <mat-form-field>
                            <mat-label>Add Table Column</mat-label>
                            <mat-select [(value)]="dispAddOpt">
                                @for (column of nDispCols; track $index) {
                                <mat-option [value]="column">{{column}}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="p-2">                             <!-- Backend dev that does front-end solution. This will break on mobile. -->
                        <button mat-raised-button color="primary" style="height:4em; width: 6em; margin-right: 10em;" (click)="addViewColumn(dispAddOpt)">Add</button>
                    </div>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="1">
            <div class="d-flex align-items-end flex-column">
                <div class="p-2">
                    <button mat-raised-button color="primary" style="width: 14em;">Configurer</button>
                </div>
                <div class="p-2">
                    <button mat-raised-button color="primary" style="width: 14em;">New Record</button>
                </div>
                <div class="p-2">
                    <button mat-raised-button color="primary" style="width: 14em;">Export</button>
                </div>
                <div class="p-2">
                    <button mat-raised-button color="primary" style="width: 14em; margin-left: 10em;">ImportFile</button>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
    <hr>
    <!-- Render Search Field -->
    <div class="row">
        <div class="col">
            @for (column of searchCols; track $index) {
            <div class="row">
                <div class="col">
                    <div class="input-group mb-3">
                        <button mat-mini-fab color="primary" (click)="removeSearchField(column)">
                            <mat-icon>remove</mat-icon>
                        </button>
                        <span class="input-group-text">{{column}}</span>
                        <input type="text" class="form-control">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
    <div class="col">
        <table mat-table [dataSource]="myDataArray"> <!-- Define a material table's column headers (not visible) -->
            @for (column of cols; track $index) {
            <ng-container [matColumnDef]="column">
                <th mat-header-cell *matHeaderCellDef> {{column}}
                    <button mat-mini-fab color="primary" (click)="removeViewColumn(column)">
                        <mat-icon>remove</mat-icon>
                    </button>
                </th> <!-- Define the header string -->
                <td mat-cell *matCellDef="let line"> {{ line[column] }} </td>
                <!-- Define the data to display for each line -->
            </ng-container>
            }

            <!-- Tell material angular to render these previously defined columns  -->
            <tr mat-header-row *matHeaderRowDef="dispCols"></tr>

            <!-- 
                Tell material angular to actually render the rows myRowData is a property 
                of material table, which represents any row in the data source, which we
                render the columnsToDisplay of, the latter being a property of the component.
                (click) allows navigating to detail view with the row uid  
            -->
            <tr mat-row (click)="viewRecord(myRowData.uid)" *matRowDef="let myRowData; columns: dispCols">
            </tr>
        </table>
    </div>
</div>