<div class="add-columns-form" [formGroup]="RefConfigForm">
    <!-- TODO : get name and description when clickign create, add injection editor button, add filename to choose file menu 
                    Note that column metadata (KeyType, Required, DateFormat) can be kept by the frontend too but logic around it
                    can be kept in the backend, e.g. checking business key is unique for example can be kept in the backend and 
                    errors can be retrieved from the backend instead of duplicating that business logic in the frontend. 
    -->
    <div class="d-flex">
        <div class="p-2 me-auto">
            <div class="input-group mb-3">
                <input #uploadFile (change)="upload($event)" type='file' class="form-control">
            </div> 
        </div>
        <div class="p-2">
            <button mat-raised-button color="primary">Injection Editor</button>
        </div>
        <div class="p-2" (click)="CreateReferential()">
            <button mat-raised-button color="primary">Create</button>
        </div>
    </div>
    <div class="d-flex">
        <div class="p-2" style="width: 30%;">
            <mat-form-field subscriptSizing="dynamic" style="width: 100%;">
                <mat-label>Ref. Name</mat-label>
                <input matInput formControlName="name" [value]="Ref.name">
            </mat-form-field>
        </div>
        <div class="p-2 flex-grow-1">
            <mat-form-field subscriptSizing="dynamic" style="width: 100%;">
                <mat-label>Ref. Description.</mat-label>
                <input matInput formControlName="description">
            </mat-form-field>
        </div>
    </div>
    <hr>
    <ng-container formArrayName="columns">
        <ng-container *ngFor="let ColForm of columns.controls; let i = index">
            <div class="d-flex border rounded m-2">
                <div class="p-2">
                    <mat-icon class="delete-btn" (click)="deleteColumn(i)">delete_forever</mat-icon>
                </div>
                <div class="p-2">
                    <!-- render column configuration fields -->
                    <app-col-config [FormControl]="$any(ColForm)"></app-col-config>
                </div>
            </div>
        </ng-container>
    </ng-container>
    <button mat-mini-fab (click)="AddColToFormArray()">
        <mat-icon class="add-course-btn">add</mat-icon>
    </button>
</div>
<button (click)="Debug()">Debug</button>

@if (Ref.lines.length > 0) {
    <app-table [Ref]="Ref" [simple]="true"></app-table>
}

