
<!-- View of the Referential Selection Screen -->
<h1>Refero</h1>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="input-group mb-3">
        <span class="input-group-text">Nom</span>
        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </div>
    </div>
    <div class="col">
    </div>
  </div>
  
  <div class="row">
    <div class="col">
      <div class="input-group mb-3">
        <span class="input-group-text">Code</span>
        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </div>
    </div>
    <div class="col">
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="input-group mb-3">
        <span class="input-group-text">Description</span>
        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </div>
    </div>
    <div class="col">
      <!-- Todo : replace by angular button, direct to new referential creation screen -->
      <button mat-raised-button color="primary" style="width: 10em;" (click)="createReferential()">Create New Referential</button>
    </div>
  </div>
</div>

<table class="table table-hover">
  <thead>
    <tr class="table-light">
      <th scope="col">Nom</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ref of ds.getRefs()" class="table-light" (click)="selectReferential(ref.uid)">
        <th scope="row">{{ref.name}}</th>
        <td>{{ref.description}}</td>
    </tr>
  </tbody>
</table>
