<div [formGroup]="colfigConfigForm" *ngIf="colfigConfigForm">
  <div class="d-flex flex-wrap" style="gap: 10px;">
    <mat-form-field subscriptSizing="dynamic">
      <mat-label>Col. Source.</mat-label>
      <input matInput formControlName="filecolname">
      <ng-container *ngIf="ColfigErrorMap && ColfigErrorMap['filecolname']">
        <mat-error>{{ ColfigErrorMap['filecolname'] }}</mat-error>
      </ng-container>
    </mat-form-field>
    <mat-form-field subscriptSizing="dynamic">
      <mat-label>Col. Ref.</mat-label>
      <input matInput formControlName="name">
      <ng-container *ngIf="ColfigErrorMap && ColfigErrorMap['name']">
        <mat-error>{{ ColfigErrorMap['name'] }}</mat-error>
      </ng-container>
    </mat-form-field>
    @if (colfigConfigForm.controls.name.getRawValue()
    && colfigConfigForm.controls.name.getRawValue().trim() != "") {
      <mat-form-field subscriptSizing="dynamic">
        <mat-label>Format Date</mat-label>
        <input matInput formControlName="dateformat">
        <ng-container *ngIf="ColfigErrorMap && ColfigErrorMap['dateformat']">
          <mat-error>{{ ColfigErrorMap['dateformat'] }}</mat-error>
        </ng-container>
      </mat-form-field>
      <mat-form-field style="width: 8em;" subscriptSizing="dynamic">
        <mat-label>Non Nulle</mat-label>
        <mat-select formControlName="required">
          <mat-option [value]="false">Non</mat-option>
          <mat-option [value]="true">Oui</mat-option>
        </mat-select>
        <ng-container *ngIf="ColfigErrorMap && ColfigErrorMap['required']">
          <mat-error>{{ ColfigErrorMap['required'] }}</mat-error>
        </ng-container>
      </mat-form-field>
      <mat-form-field style="width: 8em;" subscriptSizing="dynamic">
        <mat-label>Type Clef</mat-label>
        <mat-select formControlName="coltype" (selectionChange)="ClearFkConfig()">
          <mat-option value="NONE">Aucun</mat-option>
          <mat-option value="FK">FK</mat-option>
          <mat-option value="BK">BK</mat-option>
        </mat-select>
        <ng-container *ngIf="ColfigErrorMap && ColfigErrorMap['coltype']">
          <mat-error>{{ ColfigErrorMap['coltype'] }}</mat-error>
        </ng-container>
      </mat-form-field>
    }
    <!-- FK configuration -->
    @if (colfigConfigForm.controls.coltype.getRawValue() == 'FK') {
      <mat-form-field style="width: 16em;" subscriptSizing="dynamic">
        <mat-label>Ref. Cible</mat-label> <!-- Pointed Ref selection -->
        <mat-select formControlName="pointedrefid" (valueChange)="SelectPointedRef($event)">
          <ng-container *ngIf="refs$ | async as Refs">
            @for (ref of Refs; track $index) {
              @if (ref.id != Ref.id) {
                <!--Foreign key only towards foreign refs.-->
                <mat-option [value]="ref.id">{{ ref.name }}</mat-option>
              }
            }
          </ng-container>
        </mat-select>
      </mat-form-field>
      <ng-container *ngIf="pointedRef$ | async as PointedRef">
        <mat-form-field style="width: 16em;" subscriptSizing="dynamic"> <!-- Pointed Ref key -->
          <mat-label>Clef. Cible</mat-label>
          <mat-select formControlName="pointedrefcolid" [value]="this.colfigConfigForm.controls.pointedrefcolid.getRawValue()">
            @if (!hasComposedBk(PointedRef)) {
              @for (colfig of PointedRef.columns; track $index) {
                @if (colfig.coltype === "BK") {
                  <mat-option [value]="colfig.id">{{ colfig.name }}</mat-option>
                }
              }
            }
            <mat-option [value]="'PK'">PK</mat-option>
          </mat-select>
          <ng-container *ngIf="ColfigErrorMap && ColfigErrorMap['pointedrefcolid']">
            <mat-error>{{ ColfigErrorMap['pointedrefcolid'] }}</mat-error>
            <!-- should never happen, unless someone removes a BK in background -->
          </ng-container>
        </mat-form-field>
      </ng-container>
      <ng-container *ngIf="pointedRef$ | async as PointedRef">
        <ng-container formArrayName="pointedrefcollabelids">
          @for (pointedrefcollabelid of this.colfigConfigForm.controls.pointedrefcollabelids.controls; track $index) {
            <mat-icon class="delete-btn" (click)="this.deleteFkLabelAt($index)">delete_forever
            </mat-icon>
            <mat-form-field style="width: 16em;" subscriptSizing="dynamic">
              <mat-label>Col. Libelé</mat-label>
              <mat-select [formControl]="pointedrefcollabelid" [value]="pointedrefcollabelid">
                @for (colfig of PointedRef.columns; track $index) {
                  <mat-option [value]="colfig.id">{{ colfig.name }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          }
        </ng-container>
      </ng-container>
      <button mat-mini-fab (click)="AddFkLabelToFkColfigConfig('')">
        <mat-icon class="add-course-btn">add</mat-icon>
      </button>
    }
  </div>
</div>
