<!-- Saved View Selection -->
<div class="d-flex align-items-start flex-column">
    <div class="mb-auto p-2">
        <mat-form-field>
            <mat-label>VIEW_NICOLAS</mat-label>
            <mat-select>
                <mat-option>VIEW_VERO</mat-option>
                <mat-option>VIEW_ARTHUR</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <!-- View Saving Field -->
    <div class="p-2">
        <div class="input-group mb-3">
            <span class="input-group-text">Current View Name</span>
            <input type="text" class="form-control" placeholder="VUE_NICOLAS">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Save</button>
        </div>
    </div>
    <!-- Consultation of a Referential View, columns and lines -->
    <div class="d-flex">
        <div class="p-2">
            <mat-form-field>
                <mat-label>Add Search Field</mat-label>
                <mat-select [(value)]="viewService.SearchAddOpt">
                    @for (column of viewService.nSearchCols; track $index) {
                    <mat-option [value]="column">{{column}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>
        <div class="p-2">
            <button mat-raised-button color="primary" style="height:4em; width: 6em;" (click)="viewService.addSearchCol(viewService.SearchAddOpt)">Add</button>
        </div>
        <div class="p-2">
            <mat-form-field>
                <mat-label>Add Table Column</mat-label>
                <mat-select [(value)]="viewService.DispAddOpt">
                    @for (column of viewService.nDispCols; track $index) {
                    <mat-option [value]="column">{{column}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>
        <div class="p-2">                             <!-- Backend dev that does front-end solution. This will break on mobile. -->
            <button mat-raised-button color="primary" style="height:4em; width: 6em; margin-right: auto;" (click)="viewService.addDispCol(viewService.DispAddOpt)">Add</button>
        </div>
    </div>
</div>