<!-- Render Search Field -->
<div class="row">
    <div class="col">
        @for (colId of currView.searchCols; track $index) {
        <div class="row">
            <div class="col">
                <div class="input-group mb-3">
                    @if (!simple) {
                        <button mat-mini-fab color="primary" (click)="currView.removeSearchCol(colId)">
                            <mat-icon>remove</mat-icon>
                        </button>
                    }
                    <span class="input-group-text">{{Ref.getColumnById(colId)}}</span>
                    <input type="text" class="form-control">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </div>
            </div>
        </div>
        }
    </div>
</div>