
<div class="d-flex">
    <div class="p-2 me-auto">
        <mat-form-field>
            <mat-label>Inject Record from :</mat-label>
            <mat-select [(value)]="SourceRefUid">
                @for (ref of dataService.getRefs(); track $index) {
                    <mat-option [value]="ref.uid">{{ref.name}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
    </div>
    <div class="p-2">
        <button mat-raised-button color="primary" style="height:4em; width: 6em;">Save</button>
    </div>
    <div class="p-2">
        <button mat-raised-button color="primary" style="height:4em; width: 6em;">Delete</button>
    </div>
</div>
<hr>
<mat-grid-list cols="5" rowHeight="6em">
    <mat-grid-tile colspan="1" [rowspan]="DestinationRef.headerIds.length">
        <form> 
            @for (colId of DestinationRef.headerIds; track $index) {
                <mat-form-field class="example-full-width">
                    <mat-label>{{DestinationRef.header[colId]}}</mat-label>
                    <input matInput value="{{DestinationRecord[colId]}}">
                </mat-form-field>
            }
        </form>
    </mat-grid-tile>
    @if(this.SourceRefUid != '') {
        <mat-grid-tile colspan="4" [rowspan]="DestinationRef.headerIds.length" style="background: grey;">
            <div style="max-height:100%;overflow-y: auto; display: block; width: 100%;">
                <app-consultation [RefUid]="SourceRefUid" [SimpleView]="true"></app-consultation>
            </div>
        </mat-grid-tile>
    }
</mat-grid-list>