/* You can add global styles to this file, and also import other style files */
.mat-success {
    background-color: green;
    color: #fff;
}

.mat-danger {
    fill: red;
    background-color: red;
    color: #fff;
}

