<div class="container">
  <div class="d-flex">
    <div class="p-2 me-auto">
      <h1>Refero</h1>
    </div>
    <div class="p-2">
      <button mat-raised-button color="primary" style="width: 12em; height:4em;" (click)="createReferential()">Créer un
        Référentiel</button>
    </div>
  </div>
  <hr>
  <div [formGroup]="$any(filterGroup)" *ngIf="$any(filterGroup)">
    <div class="d-flex flex-column" style="width:50%">
      <div class="p-2">
        <mat-form-field style="width:20em" subscriptSizing="dynamic">
          <mat-label>Code</mat-label>
          <input matInput formControlName="codeFilterVal">
        </mat-form-field>
      </div>
      <div class="p-2">
        <mat-form-field style="width:20em" subscriptSizing="dynamic">
          <mat-label>Nom</mat-label>
          <input matInput formControlName="nameFilterVal">
        </mat-form-field>
      </div>
      <div class="p-2">
        <mat-form-field style="width:20em" subscriptSizing="dynamic">
          <mat-label>Description</mat-label>
          <input matInput formControlName="descFilterVal">
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
<hr>
<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="CODE">
    <th mat-header-cell *matHeaderCellDef>Code</th>
    <td mat-cell *matCellDef="let ref"> {{ ref.code }} </td>
  </ng-container>

  <ng-container matColumnDef="NAME">
    <th mat-header-cell *matHeaderCellDef>Nom</th>
    <td mat-cell *matCellDef="let ref"> {{ ref.name }} </td>
  </ng-container>

  <ng-container matColumnDef="DESCRIPTION">
    <th mat-header-cell *matHeaderCellDef>Description</th>
    <td mat-cell *matCellDef="let ref"> {{ ref.description }} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['CODE', 'NAME', 'DESCRIPTION']"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: ['CODE', 'NAME', 'DESCRIPTION']"
    (click)="viewReferential(myRowData.id)"></tr>
</table>
