<ng-container *ngIf="colfig$ | async as Colfig">
  <div [formGroup]="KeyPairFormGroup" *ngIf="KeyPairFormGroup">
    <mat-form-field [id]="Colfig.id">
      <mat-label>{{ Colfig.name }}</mat-label>
      @if (Colfig.coltype !== 'FK') {
        @if (readOnly) {
          <!-- attribute binding wasn't working -->
          <input matInput formControlName="value" readonly>
        }

        @if (!readOnly) {
          <input matInput formControlName="value"> <!-- attribute binding wasn't working -->
        }
      }
      @if (Colfig.coltype === 'FK') {
        <mat-select formControlName="value" [disabled]="readOnly" panelWidth="">
          <!-- test with REE DATA and STATUT -->
          <ng-container *ngIf="foreignEntries$ | async as ForeignEntries">
            @for (e of ForeignEntries; track $index) {
              @if(Colfig.pointedrefcolid != "PK") {
                <mat-option
                  [value]="e.fields[Colfig.pointedrefcolid]">{{ this.getForeignLabelFor(e, Colfig.pointedrefcollabelids) }}
                </mat-option>
              }
              @if(Colfig.pointedrefcolid == "PK") {
                <mat-option [value]="e.id"> <!-- If we're pointing at PK, value of option is the entry id. -->
                  {{ this.getForeignLabelFor(e, Colfig.pointedrefcollabelids) }}
                </mat-option>
              }
            }
          </ng-container>
        </mat-select>
      }
      <ng-container *ngIf="KeyPairError">
        <mat-error>{{ KeyPairError }}</mat-error>
      </ng-container>
    </mat-form-field>
  </div>
</ng-container>

