

<ng-container *ngIf="colfig$ | async as Colfig">
    <div [formGroup]="$any(FormControl)">
        <mat-form-field>
            <mat-label>{{ Colfig.name }}</mat-label>
            @if (Colfig.colType !== 'FK') {
                <input matInput formControlName="value">
            }
            @if (Colfig.colType === 'FK') {
                <mat-select formControlName="value" > <!-- test with REE DATA and STATUT -->
                    <ng-container *ngIf="foreignEntries$ | async as ForeignEntries">
                        @for (e of ForeignEntries; track $index) {
                            <mat-option [value]="e.id">{{ e.fields[Colfig.pointedRefColLabelId] }}</mat-option>
                        }
                    </ng-container>
                </mat-select>
            }
        </mat-form-field>
    </div>
</ng-container>

