<div class="col">
    <div style="max-width:100%">
        <table mat-table [dataSource]="Ref.Records"> <!-- [dataSource]="" Define a material table's column headers (not visible) -->
            @for (colId of Ref.headerIds; track $index) {
                <ng-container [matColumnDef]="colId">
                    <th mat-header-cell *matHeaderCellDef> {{Ref.getColumnById(colId)}}
                        @if (!this.simpleMode) {
                        <button mat-mini-fab color="primary" (click)="currView.removeDispCol(colId)">
                            <mat-icon>remove</mat-icon>
                        </button>
                        }
                    </th> <!-- Define the header string -->
                    <td mat-cell *matCellDef="let line"> {{ line[colId] }} </td> <!-- Define the data to display for each line -->
                </ng-container>
            }
            <tr mat-header-row *matHeaderRowDef="currView.dispCols"></tr>

            @if (!this.simpleMode) {
                <tr mat-row *matRowDef="let myRowData; columns: currView.dispCols" (click)="viewRecord(myRowData.id)"></tr>
            }

            @if (this.simpleMode) {
                
                <ng-container *ngIf="{
                    DestRecId: DestRecId$ | async,
                    Injection: Injection$ | async
                } as Context">
                    <tr mat-row (click)="applyInjection(myRowData.id, Context.DestRecId!, Context.Injection!)" *matRowDef="let myRowData; columns: currView.dispCols"></tr>
                </ng-container>
                
            }
        </table>
    </div>
</div>