<ng-container *ngIf="{
    destRec: destRec$ | async,
    destRef: destRef$ | async,
    srcRef: srcRef$ | async,
    injection: injection$ | async
} as Context">
    <div class="d-flex">
        <div class="p-2 me-auto">
                <mat-form-field>
                    <mat-label>Inject Record from :</mat-label> <!-- BUG : getSourceRefsOfInjectionsTowards() is being called multiple times... -->
                    <mat-select [(value)]="Context.srcRef!.uid" (valueChange)="SelectInjection($event)">
                        @for (injection of Context.destRef!.getInjections(); track $index) {
                            <mat-option [value]="injection">{{ds.getRefDataBy(injection.srcId).name}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
        </div>
        <div class="p-2">
            <button mat-raised-button color="primary" style="height:4em; width: 6em;">Save</button>
        </div>
        <div class="p-2">
            <button mat-raised-button color="primary" style="height:4em; width: 6em;">Delete</button>
        </div>
    </div>
    <hr>
    <mat-grid-list cols="5" style="width: 100%;" rowHeight="6em" class="grid-layout-custom">
        <!-- keep mat-grid-tile in container as for some reason in child width/height becomes 0-->
        <mat-grid-tile colspan="1" [rowspan]="Context.destRef!.headerIds.length">
            <app-col-list-presentational 
                [DestRef]="Context.destRef!" [DestRec]="Context.destRec!">
            </app-col-list-presentational>
        </mat-grid-tile>
        <mat-grid-tile colspan="4" [rowspan]="Context.destRef!.headerIds.length">
            <div style="max-height:100%;overflow-y: auto; display: block; width: 100%;">
                <ng-container *ngIf="srcRef$ | async as loadedSrc"> 
                    @if (loadedSrc.name != '') {
                        <app-table [Ref]="loadedSrc" [simpleMode]="true"></app-table>
                    } 
                </ng-container>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</ng-container>